#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
.mt-3 {
	margin-top: 3em;
}
.upper {
	text-transform: uppercase;
}
.red {
	color: red;
}
